# Application Settings
HOST=<Bind IP>
PORT=<Bind Port>

# Mail settings
MAIL_HOST=<Mail Server Host>
MAIL_PORT=<Mail Server Port>
MAIL_FROM=<Mail From Address>

# Database settings
DB_HOST=<Database Host>
DB_USER=<Database User>
DB_PASSWORD=<Database Password>
DATABASE=<Database Name>
ENC_KEY=<Encryption Key>

# Environment Settings
NODE_ENV=<Environment (e.g. dev)>

# Development Settings
DEV_OTP_SECRET=<OTP Secret>
DEV_SEED_PASSWORD=<Dev Seed Password>